{{ define "head" }}
    
{{ end }}

{{ define "header" }}

{{ end }}

{{ define "main" }}
<div class="container propertylist layoutproplist">
        {{ range .Pages }}
        <div class="property columns">
            <div class="column is-one-third">
              
            </div>
            <div class="column is-two-thirds">
                    {{.Params.ptype}} {{.Params.location}} {{.Params.town}}</a>
            </div>
        </div>
        {{ end }}
</div>
  
{{ end }}
{{ define "more" }}
  More and More 
{{ end }}

{{ define "footer" }}
 
{{ end }}