<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ .Title }}</title>
      <link rel="shortcut icon" href="/favicon.ico" />
      <link rel="stylesheet" href="{{ .Site.Params.host }}/css/styles.css">
      <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->

    {{ block "head" . }}
        
    {{ end }}
</head>
<body class="has-navbar-fixed-top is-size-6-mobile">
    {{ block "header" . }}
      {{ partial "header.html" . }}
    {{ end }}
    <main>
    {{ block "main" . }}
{{ .Content }}
    {{ end }}
    </main>

    {{ block "more" . }}

    {{ end }}
    
    {{ block "footer" . }}
      {{ partial "footer.html" .}}
    {{ end }}
    {{ block "foot" . }}
      <!-- Cloudflare Web Analytics placeholder in baseof -->
      
    {{ end }}
</body>
</html>