{{ define "head" }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.css" rel="stylesheet"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.js"></script>
<script src="https://kit.fontawesome.com/73fe5491f6.js" crossorigin="anonymous"></script>
{{ end }}

{{ define "header" }}

{{ end }}

{{ define "main" }}

{{ partial "fpsearch.html" . }}
{{ partial "first12props.html" . }}
{{ partial "moreprops.html" . }}
{{ partial "fprubruns.html" . }}

  
{{ end }}

{{ define "more"}}

{{ end }}

{{ define "footer" }}
 
{{ end }}

