{{ define "head" }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.css" rel="stylesheet"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.25.0/slimselect.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
{{ end }}

{{ define "header" }}

{{ end }}

{{ define "main" }}

{{ partial "fpsearch.html" . }}
{{ partial "first12props.html" . }}
{{ partial "moreprops.html" . }}
{{ partial "fprubruns.html" . }}

  
{{ end }}

{{ define "more"}}

{{ end }}

{{ define "footer" }}
 
{{ end }}

