<div id="rubruns" class="columns is-multiline">
    <div class="column is-one-quarter hometile">
    <div style="background-image:url('https://lh3.googleusercontent.com/-0C6aVXwh-S4/XGbwQYt1djI/AAAAAAAAYEA/6mP3gW0RL3AXJj2Vti1jOCRhGqye4UiCgCLcBGAs/w400-h250-p-e30-rj-l100/2.jpg');min-height:250px;background-size:cover;">
    <a href="{{ .Site.Params.host }}/maisons/maison-mitoyenne/" class="hometilelabel is-size-4">Maisons mitoyennes à vendre</a>
    </div>
    </div>
    <div class="column is-one-quarter hometile">
    <div style="background-color: #3273dc;min-height:250px;">
    <a href="{{ .Site.Params.host }}/maisons/costa-blanca-s./" class="hometilelabel is-size-4">Propriétés à Orihuela Costa</a>
    </div>
    </div>
    <div class="column is-one-quarter hometile">
    <div style="background-image:url('https://lh3.googleusercontent.com/-x_c19K065-0/XGbytF_6SQI/AAAAAAAAYEU/1L-5Ki23Eb4Sl54nAA2GAvKnB390xegswCLcBGAs/w400-h250-p-e30-rj-l100/1.jpg');min-height:250px;background-size:cover;">
    <a href="{{ .Site.Params.host }}/maisons/villa" class="hometilelabel is-size-4">Villas à vendre</a>
    </div>
    </div>
    <div class="column is-one-quarter hometile">
    <div style="background-color: #3273dc;min-height:250px;">
    <a href="{{ .Site.Params.host }}/maisons/de-0-à-100000/" class="hometilelabel is-size-4">L'immobilier pas cher</a>
    </div>
    </div>
    <div class="column is-one-quarter hometile">
    <div style="background-color: #3273dc;min-height:250px;">
    <a href="{{ .Site.Params.host }}/maisons/torrevieja/" class="hometilelabel is-size-4">Immobilier à Torrevieja</a>
    </div>
    </div>
    <div class="column is-one-quarter hometile">
    <div style="background-image:url('https://lh3.googleusercontent.com/-nfU41vGg3Gw/XE8KilY73QI/AAAAAAAAX6U/s3wXpKGnyo8Tx2vO-I-mM-MAik54wFj0wCLcBGAs/w400-h250-p-e30-rj-l100/PuntaPrima1.jpg');min-height:250px;background-size:cover;">
    <a href="{{ .Site.Params.host }}/maisons/appartement/" class="hometilelabel is-size-4">Appartements à vendre</a>
    </div>
    </div>
    <div class="column is-one-quarter hometile">
    <div style="background-color: #3273dc;min-height:250px;">
    <a href="{{ .Site.Params.host }}/maisons/costa-calida/" class="hometilelabel is-size-4">Immobilier Costa Calida</a>
    </div>
    </div>
    <div class="column is-one-quarter hometile">
    <div style="background-image:url('https://lh3.googleusercontent.com/-B0QBCP7Zb5w/XE8ilWigqdI/AAAAAAAAX8Q/fl9fvdQ-jW4Em6dPqaE4J8H-lsQIaW64gCLcBGAs/w400-h250-p-rj-e30-l100/Costa%2BBlanca%2Bnorte.jpg');min-height:250px;background-size:cover;">
    <a href="{{ .Site.Params.host }}/maisons/costa-blanca-n./" class="hometilelabel is-size-4">Immobilier Costa Blanca Nord</a>
    </div>
    </div>
    </div>