<main class="" id="fpphoto">
    <div class="columns is-centered">
    <div class="column">
    <div class="xfpsearch xsticky" id="fpsearchformholder">
      <form id="propsearch" action="rechercher.html" method="GET">

        <div class="columns is-multiline is-centered" xstyle="background-color: rgba(52, 149, 218, 0.5);">
          <div class="beds column is-inline-block is-1 is-5-mobile" style="xmax-width:80px;">
          <div class="field">
          <label class="label is-small has-text-white popwhitetext"><br>Chambres</label>
          <div class="control">
          <select name="beds" class="form-control" id="beds" aria-label="Chambres a coucher" readonly="true">
          <option value=""></option>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="1m">1+</option>
          <option value="2">2</option>
          <option value="2m">2+</option>
          <option value="3">3</option>
          <option value="3m">3+</option>
          <option value="4">4</option>
          <option value="4m">4+</option>
          <option value="5">5</option>
          <option value="5m">5+</option>
          </select>
          </div>
          </div>
          </div>
<!-- gone from here -->
          </div>

        
        <div class="submit columns is-multiline is-centered" xstyle="background-color: rgba(52, 149, 218, 0.5);" "="">
        <div class="column" id="searchbutton" style="flex:none;">
        <input class="button is-info details" type="submit" value="Rechercher">
        </div>
        </div>
        </form>
    </div>
    </div>
    </div>
    
    <script>
    /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
    </script>
    </main>